.logo{
    background-color: aqua;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 2.5rem;
}
.a{
    color: black;
    
}


.topnav {
    background-color: black;
    overflow: hidden;
    font:italic;
  }
  

  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  h1{
    text-align: center;
  }
  

  